block variables
    include ./../_config/_main-variables.pug


doctype html
html(lang="ja")
    head
        include ./../_include/_head.pug
        block meta_title
    body.text-bg-secondary
        div.container.text-bg-light.p-3
            header.st_header
                include ./../_include/_header.pug
            div.st_main
                main
                    
                    block title
                    block content

            footer.st_footer.footer
                include ./../_include/_footer.pug
            |
            |
            |
            block script
                include ./../_include/_link-script.pug
            |
            |
