extends ./../_layout/_page_session.pug

block session 
     . 
        <php?
            $_SESSION=array();
            if(isset($_COOKIE[session_name()])==true)
            {
                setcookie(session_name(),'',time()-42000,'/');
            }
            @session_destroy();
        ?>

block meta_title
    title 八百八：ログアウト

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ ログアウト画面            

block content
    section.container.p-4
        p ログアウトしました。
        div.mb-3.mt-5
            button(type="submit" value="ログイン").btn.btn-primary 
                a(href="./staff_login.php")
                    | Login画面へ 
            button(type="button").btn.btn-warning.my-3
                a(href="../index.php") 
                    | ホームページへ
