//- extends ./../_layout/_page.pug
extends ./../_layout/_page_session.pug

block session
    //- include ./../_config/_session-check_staff.pug
    .
        <?php
            ob_start();
            session_start();
        ?>

block meta_title
    title 八百八：ログインチェック

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ ログインチェック画面
            
block content
    section.container.p-4
        . 
            <?php
                //- ob_start();
                //- session_start();
                try
                {
                    require_once('../common/functions/sanitize.php');

                    $post=sanitize($_POST);
                    $staff_code=$post['code'];
                    $staff_pass=$post['pass'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT name,password FROM mst_staff WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $rec=$stmt->fetch(PDO::FETCH_ASSOC);

                    $dbh=null;

                    if($rec && password_verify($staff_pass, $rec['password'])) 
                    {
                        session_start();
                        $_SESSION['login'] = 1; 
                        $_SESSION['staff_code'] = $staff_code; 
                        $_SESSION['staff_name'] = $rec['name']; 
                        header('Location: staff_top.php');
                        exit();
                    }
                    else 
                    {
                        echo '<p>';
                        echo 'スタッフコードかパスワードが間違っています。';
                        echo '</p>';
                    }      
                }
                catch(Exception $e)
                {
                    echo '<p>';
                    echo '通信障害のため確認できませんでした。<br/>';
                    echo '</p>';
                    echo '<p>';
                    echo '大変ご迷惑をおかけしております。';
                    echo '</p>';
                    exit();
                }
                //- ob_end_flush();
            ?>

            
        button(type="button").btn.btn-warning.my-3
            a(href="./staff_login.php") 戻る
