extends ./../_layout/_page_session.pug

block session
    include ./../_config/_session-check_staff.pug


block title
    section.section__odd
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 ダウンロード 画面
            

block content
    section.section__even
        . 
            <?php
                require_once('../common/functions/pulldown_ymd.php');
            ?>

        h2 ダウンロード対象選択
        p ダウンロードしたい注文日を選んでください。</br>
        form(method="post" action="order_download_done.php")
            |
            |
            . 
                <?php pulldown_year();?>
            span 年
            |
            |
            . 
                <?php pulldown_month();?>
            span 月
            |
            |
            . 
                <?php pulldown_day();?>
            span 日
            br
            input(type="submit" value="データ抽出")
            br
        br
        a(href="../staff_login/staff_top.php") トップメニュー

