div.ly_hdr_inner
    div.el_top-logo
        a(href="#{siteDomain}") 
            img(class="img_plncd frm_pln_img" src="#{workDirPath}\assets\images\common\logo\logo.png"  style="height: 50px;" alt="Home Logo")
    //- HAMBURGER MENU 
    input(type="checkbox" class="hmbg-btn" id="hmbg-btn")
    label(for="hmbg-btn" class="hmbg-icon")
        span.hmbg-icon_parts
    nav.nav_global.el_hdr_nav
        ul.ul_glbnv
            li.li_glbnv 
                a(href="#{siteDomain}") Home
            li.li_glbnv 
                a(href="###") 情報
            li.li_glbnv 
                a(href="###") 商品
            li.li_glbnv 
                a(href="###") 注文
            li.li_glbnv 
                a(href="###") 登録
            li.li_glbnv 
                a(href="#{siteDomain}/staff") スタッフ
//-.hdr_inner
