//- WIDGET SEARCH
<div class="bl_side-widget el_widget-search">
    <div class="sdwdg_inner">
        <div class="sdwdg__header">
            <h4 class="sdwdg-title">search</h4>
        </div>
        <div class="sdwdg__body">
            <div class="sdwdg-content">
                <form method="get" class="wdgsch__form" action="<!--http://adsan96.com/-->">
                    <label for="search-word">
                        <input type="text" class="wdgsch__field" placeholder="kyeword.." name="s" value=""/>
                    </label>
                    <button type="submit" class="wdgsch__submit" >
                        <i class="fas fa-search fa-fw sch-icon"></i>
                    </button>
                    <span class="wdgsch__focus-line"></span>
                </form>
            </div>
        </div>
    </div>
</div>
//- <!-- .el_widget-search -->
//- <!-- WIDGET SPONCER -->
<div class="bl_side-widget el_widget-sponcer">
    <div class="sdwdg_inner">
        <div class="sdwdg__header">
            <h4 class="sdwdg-title">sponcer site</h4>
        </div>
    <div class="sdwdg__body">
        <div class="sdwdg-content">
            <div class="img-sample hp_lg-only">
                <a href="###"> 
                    <img src="https://placehold.jp/c3c3c3/ffffff/380x200.png?text=sample" alt="FFF.Labo">
                </a>
            </div>
        </div>
    </div>
</div>