//- - var siteName = 'サイト名：八百八';
- var siteDomain = 'http://localhost:8000';
//- - var siteDomain = 'https://example.com';
- var workDirPath = './../../..';
//- - var workDirPath = 'C:/D/adsan-web-design/docs/dist';
- var hostPath = 'C:/P/station/YaoShop/docs';
//- - var hostPath = '/Users/macpro/Documents/P';
