extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：NG 

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 NG 画面
            

block content
    section.container.p-4
        p スタッフが選択されていません。
        button(type="button").btn.btn-warning.my-3
            a(href="./staff_list.php") 戻る
