extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug


block title
    section.section__odd
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ 情報編集
            

block content
    section.section__even
        .
            <?php
                try 
                {
                    $staff_code=$_GET['staffcode'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT name,email FROM mst_staff WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data=[];
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $rec=$stmt->fetch();
                    $staff_name=$rec['name'];
                    $staff_email=$rec['email'];

                    $dbh=null;

                }
                catch(Exception $e)
                {
                    echo 'データを取得できませんでした。<br/>';
                    echo 'ただいま障害により大変ご迷惑をおかけしております。';
                    exit();
                }

            ?>

        - var _myPhpCo = '<?php echo $staff_code; ?>';
        - var _myPhpNa = '<?php echo $staff_name; ?>';
        - var _myPhpEm = '<?php echo $staff_email; ?>';

        h2 スタッフ修正

        form(method="post" action="./staff_edit_check.php" class="form_contact")
            input(type="hidden" name="code" value!=_myPhpCo class="dta_select")                
            table.table_contact-form
                tr.tr_cttfm
                    th.th_cttfm
                        | スタッフコード 
                    td.td_cttfm 
                        | <?php echo $staff_code; ?>
                tr.tr_cttfm
                    th.th_cttfm
                        label(for="name") Name 
                    td.td_cttfm
                        input(type="text" name="name" value!=_myPhpNa class="dta_input")
                tr.tr_cttfm
                    th.th_cttfm
                        label(for="Email") Email 
                    td.td_cttfm
                        input(type="email" name="email" value!=_myPhpEm class="dta_input")
                tr.tr_cttfm
                    th.th_cttfm
                        label(for="pass") Password 
                    td.td_cttfm
                        input(type="password" name="pass" class="dta_input")
                tr.tr_cttfm
                    th.th_cttfm
                        label(for="pass2") Password again
                    td.td_cttfm
                        input(type="password" name="pass2" class="dta_input")
                tr.tr_cttfm
                    th.th_cttfm
                        label(for="botton") -
                    td.td_cttfm
                        input(type="button" onclick="history.back()" value="戻る" class="dta_select")
                        input(type="submit" value="OK" class="dta_select")

