extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ登録実行

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ修正 結果画面
            

block content
    section.container.p-4
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');

                    $post=sanitize($_POST);
                    $staff_code=$post['code'];
                    $staff_name=$post['name'];
                    $staff_email=$post['email'];
                    $staff_pass=$post['pass'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='UPDATE mst_staff SET name=?,email=?,password=? WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data=[];
                    $data[]=$staff_name;
                    $data[]=$staff_email;
                    $data[]=$staff_pass;
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $dbh=null;

                    echo '<p>';
                    echo '<span class="fs-6 fw-bold">';
                    echo $staff_name;
                    echo '</span>';
                    echo 'さんを登録しました。';
                    echo '</p>';
                }
                catch(Exception $e)
                {
                    echo '<p>';
                    echo '<span class="fs-6 font-weight-bold">';
                    echo $staff_name;
                    echo '</span>';
                    echo 'さんを登録できませんでした。';
                    echo '</p>';
                    echo '<br/>';
                    echo 'ただいま障害により大変ご迷惑をおかけしております。';
                    exit();
                }

            ?>

        button(type="button").btn.btn-warning.my-3
            a(href="./staff_list.php") 戻る

