extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ一覧

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ リスト一覧画面            

block content
    section.section__even
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT code,name,email FROM mst_staff WHERE 1';
                    $stmt=$dbh->prepare($sql);
                    $stmt->execute();

                    $dbh=null;

                    echo '<p class="mt-4 fw-bold text-decoration-underline">スタッフ一覧</p>';

                    echo '<form method="post" action="staff_branch.php" class="bg-primary-subtle p-4 mt-1" >';
                    while(true)
                    {
                        $rec=$stmt->fetch();
                        if($rec==false)
                        {
                            break;
                        }
                        echo '<div class="mb-3 form-check">';
                        echo '<input type="radio" name="staffcode" value="'.$rec['code'].'" class="form-check-input">';
                        echo '<label class="form-check-label" for="Email">';
                        echo $rec['name'].' --- ';
                        echo $rec['email'];
                        echo '</label>';
                        echo '</div>';
                    }
                    echo '<br/>';
                    echo '<div class="btn-group" role="group" aria-label="Default button group">';
                    echo '<button type="submit" name="disp" value="参照" class="btn btn-outline-primary">reference</button>';
                    echo '<button type="submit" name="add" value="追加" class="btn btn-outline-primary">add</button>';
                    echo '<button type="submit" name="edit" value="修正" class="btn btn-outline-primary">edit</button>';
                    echo '<button type="submit" name="delete" value="削除" class="btn btn-outline-primary">deletion</button>';
                    echo '</div>';
                    echo '</form>';
                    echo '<button class="btn btn-warning my-5" type="button">';
                    echo '<a href="../staff_login/staff_top.php">トップメニュー へ</a>';
                    echo '</button>';
                }
                catch(Exception $e)
                {
                    echo 'リストを表示出来ませんでした。<br/>';
                    echo 'ただいま障害により大変ご迷惑をおかけしております。';
                    exit();
                }

            ?>

