extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug


block title
    section.section__odd
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 編集登録結果
            

block content
    section.section__even
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');

                    $post=sanitize($_POST);
                    $staff_code=$post['code'];
                    $staff_name=$post['name'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='DELETE FROM mst_staff WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $dbh=null;

                    echo $staff_name;
                    echo 'さんの情報を削除しました。<br/>';
                }
                catch(Exception $e)
                {
                    echo $staff_name;
                    echo 'さんを削除できませんでした。<br/>';
                    echo 'ただいま障害により大変ご迷惑をおかけしております。';
                    exit();
                }

            ?>

        div.form_contact
            a.dta_select(href='./staff_list.php') 戻る
