extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ登録

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ登録 入力画面
            

block content
    section.container.p-4
        p.mt-4.fw-bold.text-decoration-underline スタッフ登録
        form(method="post" action="./staff_add_check.php").bg-primary-subtle.p-4.mt-4
            div.mb-3
                label(for="name").form-label Name
                input(type="text" name="name" aria-describedby="nameHelp").form-control#exampleInputEmail1
                div.form-text#emailHelp Please enter your full name for comfirmation.
            div.mb-3
                label(for="Email1").form-label Email address
                input(type="email" name="email" aria-describedby="emailHelp").form-control#exampleInputEmail1
                div.form-text#emailHelp We'll never share your email with anyone else.
            div.mb-3
                label(for="pass").form-label Password
                input(type="password" name="pass").form-control#exampleInputPassword1
            div.mb-3
                label(for="pass2").form-label Password again
                input(type="password" name="pass2").form-control#exampleInputPassword1
                div.form-text#emailHelp Please enter your password again for comfirmation.
            div.mb-3.form-check
                input(type="checkbox").form-check-input#exampleCheck1
                label(for="exampleCheck1").form-check-label Check me out
            div.mb-3.mt-5
                button(type="submit" value="登録").btn.btn-primary Submit
                button(type="button" value="戻る" onclick="history.back()").btn.btn-secondary Buck
