extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ削除実行

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ削除 結果画面
            

block content
    section.section__even
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');

                    $post=sanitize($_POST);
                    $staff_code=$post['code'];
                    $staff_name=$post['name'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='DELETE FROM mst_staff WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $dbh=null;

                    echo '<p>';
                    echo '<span class="fs-6 fw-bold">';
                    echo $staff_name;
                    echo '</span>';
                    echo 'さんの情報を削除しました。';
                    echo '</p>';
                }
                catch(Exception $e)
                {
                    echo '<p>';
                    echo '<span class="fs-6 font-weight-bold">';
                    echo $staff_name;
                    echo '</span>';
                    echo 'さんを削除できませんでした。';
                    echo '</p>';
                    echo '<p>ただいま障害により大変ご迷惑をおかけしております。</p>';
                    exit();
                }

            ?>

        button(type="button").btn.btn-warning.my-3
            a(href="./staff_list.php") 戻る
