extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ削除

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 スタッフ削除 対象表示画面
            

block content
    section.section__even
        .
            <?php
                try 
                {
                    $staff_code=$_GET['staffcode'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT name FROM mst_staff WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$staff_code;
                    $stmt->execute($data);

                    $rec=$stmt->fetch(PDO::FETCH_ASSOC);
                    $staff_name=$rec['name'];

                    $dbh=null;

                }
                catch(Exception $e)
                {
                    echo '<p>データを取得できませんでした。</p>';
                    echo '<p>ただいま障害により大変ご迷惑をおかけしております。</p>';
                    exit();
                }

            ?>

        - var _myPhpCo = '<?php echo $staff_code; ?>';
        - var _myPhpNa = '<?php echo $staff_name; ?>';

        p.mt-4.fw-bold.text-decoration-underline スタッフ削除
        form(method="post" action="./staff_delete_done.php").bg-primary-subtle.p-4.mt-4
            div.mb-3
                label(for="code").form-label Staff Code
                input(type="text" value!=_myPhpCo disabled readonly).form-control
            div.mb-3
                label(for="name").form-label Name
                input(type="text" name="name" value!=_myPhpNa disabled readonly).form-control
            div
                input(type="hidden" name="code" value!=_myPhpCo).form-control                
                input(type="hidden" name="name" value!=_myPhpNa).form-control 
            div.mb-3
                div.mt-5.mb-2.fw-bold 対象のスタッフデータを削除してよろしいですか？
                button(type="submit" value="登録" ).btn.btn-primary Submit
                button(type="button" value="戻る" onclick="history.back()").btn.btn-secondary Buck

