// @use "../function" as f;
// @use "../javascript" as j;
// @use "../mixin" as m;
// @use "../setting" as s;


$color_myWhite: #fdfdfd;
$color_myWhite-sec: #f7f2f7;
$color_myWhite-third: #f4f2f3;
$color_myWhite-fourth: #ebe5d7;
$color_myWhite-fifth: #ebe5d7;
$color_myBlack: #1A1A21;
$color_myBlack-sec: #0a101a;
$color_myBlack-third: #343a40;
$color_myBlack-fourth: #9a9da0;
$color_myBlack-fifth: #9a9da0;
$color_text: #2A2A31;
$color_text-sec: #1f2933;
$color_text-third: #3e4c59;
$color_text-fourth: #616e7c;
$color_text-fifth: #9aa5b1;
$color_text-sixth: #cbd2d9;
$color_text-seventh: #e4e7eb;
$color_text-eighth: #f5f7fa;
$color_base: #f1f1f1;
$color_base-sec: #e1e1e1;
$color_base-third: #d1d1d1;//silver
$color_base-fourth: #b1b1b1;//silver-gray
$color_base-fifth: #919191;//gray
$color_main: #003721;
$color_main-sec: #006441;
$color_main-third: #009646;
$color_main-fourth: #ccff00;
$color_main-fifth: #ccffcc;
$color_sub: #00ccff;
$color_sub-sec: #33ccff; //turquoise
$color_sub-third: #66ccff; //turquoise
$color_sub-fourth: #99ccff;
$color_sub-fifth: #ccffff;
$color_accent: #bb0000;
$color_accent-sec: #cc6633;
$color_accent-third: #ff7828;
$color_accent-fourth: #ffcc00;
$color_accent-fifth: #ffcc66    ;
