extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：商品削除

block title
    section.section__odd
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 商品削除 対象表示画面
            

block content
    section.container.p-4
        .
            <?php
                try 
                {
                    $pro_code=$_GET['procode'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT name,gazou FROM mst_product WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$pro_code;
                    $stmt->execute($data);

                    $rec=$stmt->fetch(PDO::FETCH_ASSOC);
                    $pro_name=$rec['name'];
                    $pro_gazou_name=$rec['gazou'];

                    $dbh=null;

                    if($pro_gazou_name=='')
                    {
                        $disp_gazou='';
                    }
                    else {
                        $disp_gazou='<img src="./gazou/' . $pro_gazou_name . '" alt="gazou" class="img-fluid">';
                    }

                }
                catch(Exception $e)
                {
                    echo '<p>データを取得できませんでした。</p>';
                    echo '<p>ただいま障害により大変ご迷惑をおかけしております。</p>';
                    exit();
                }

            ?>

        - var _myPhpCo = '<?php echo $pro_code; ?>';
        - var _myPhpNa = '<?php echo $pro_name; ?>';
        - var _myPhpGz = '<?php echo $pro_gazou_name; ?>';
        - var _myPhpGzDisp = '<?php echo $disp_gazou; ?>';

        p.mt-4.fw-bold.text-decoration-underline 商品削除
        form(method="post" action="./pro_delete_done.php").bg-primary-subtle.p-4.mt-4
            input(type="hidden" name="code" value!=_myPhpCo class="dta_select")                
            input(type="hidden" name="name" value!=_myPhpNa class="dta_input")                
            input(type="hidden" name="gazou_name" value!=_myPhpGz class="dta_input")                
            div.mb-3
                label(for="code").form-label Product Code :
                input(type="text" value!=_myPhpCo disabled readonly).form-control
            div.mb-3
                label(for="name").form-label Product Name :
                input(type="text" name="name" value!=_myPhpNa disabled readonly).form-control
            div.mb-3
                label(for="gazou").form-label Gazou :
                div(style="width: 200px;").img !{_myPhpGzDisp}
            div.mb-3
                div.mt-5.mb-2.fw-bold 対象の商品データを削除してよろしいですか？
                button(type="submit" value="登録" ).btn.btn-primary Submit
                button(type="button" value="戻る" onclick="history.back()").btn.btn-secondary Buck
