extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：スタッフ削除実行

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 商品削除 結果画面
            

block content
    section.container.p-4
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');

                    $post=sanitize($_POST);
                    $pro_name=$post['name'];
                    $pro_code=$post['code'];
                    $pro_gazou_name=$_POST['gazou_name'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='DELETE FROM mst_product WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$pro_code;
                    $stmt->execute($data);

                    $dbh=null;

                    if($pro_gazou_name!='')
                    {
                        unlink('./gazou/'.$pro_gazou_name);
                    }

                    echo '<p>';
                    echo '<span class="fs-6 fw-bold">';
                    echo $pro_name;
                    echo '</span>';
                    echo 'の情報を削除しました。';
                    echo '</p>';
                }
                catch(Exception $e)
                {
                    echo '<p>';
                    echo '<span class="fs-6 font-weight-bold">';
                    echo $pro_name;
                    echo '</span>';
                    echo 'を削除できませんでした。';
                    echo '</p>';
                    echo '<p>ただいま障害により大変ご迷惑をおかけしております。</p>';
                    exit();
                }

            ?>

        button(type="button").btn.btn-warning.my-3
            a(href="./pro_list.php") 戻る

