extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：商品一覧

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 商品 リスト一覧画面
            

block content
    section.container.p-4
        . 
            <?php
                try 
                {
                    require_once('../common/functions/sanitize.php');
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT code,name,price FROM mst_product WHERE 1';
                    $stmt=$dbh->prepare($sql);
                    $stmt->execute();

                    $dbh=null;

                    echo '<p class="mt-4 fw-bold text-decoration-underline">商品一覧</p>';
                    
                    echo '<form method="post" action="pro_branch.php" class="bg-primary-subtle p-4 mt-1" >';
                    while(true)
                    {
                        $rec=$stmt->fetch(PDO::FETCH_ASSOC);
                        if($rec==false)
                        {
                            break;
                        }
                        echo '<div class="mb-3 form-check">';
                        echo '<input type="radio" name="procode" value="'.$rec['code'].'" class="form-check-input">';
                        echo '<label class="form-check-label" for="price">';
                        echo $rec['name'].' --- ';
                        echo $rec['price'].' yen';
                        echo '</label>';
                        echo '</div>';
                    }
                    echo '<br/>';
                    echo '<div class="btn-group" role="group" aria-label="Default button group">';
                    echo '<button type="submit" name="disp" value="参照" class="btn btn-outline-primary">reference</button>';
                    echo '<button type="submit" name="add" value="追加" class="btn btn-outline-primary">add</button>';
                    echo '<button type="submit" name="edit" value="修正" class="btn btn-outline-primary">edit</button>';
                    echo '<button type="submit" name="delete" value="削除" class="btn btn-outline-primary">deletion</button>';
                    echo '</div>';
                    echo '</form>';
                }
                catch(Exception $e)
                {
                    echo 'リストを表示出来ませんでした。<br/>';
                    echo 'ただいま障害により大変ご迷惑をおかけしております。';
                    exit();
                }

            ?>
        
        button(type="button").btn.btn-warning.my-3
            a(href="../index.php") ホームページへ
