extends ./../_layout/_page_session.pug

block session 
    include ./../_config/_session-check_staff.pug

block meta_title
    title 八百八：商品情報

block title
    section.container.text-bg-success.p-4
        div.cpnt_title__border
            div.inner_ttlbd__hrzn
                h1 商品情報 表示画面
            

block content
    section.container.p-4
        .
            <?php
                try 
                {
                    $pro_code=$_GET['procode'];
        |
        |
        include ./../_config/_db-connection.pug
        |
        |
        |
        .
                    $sql='SELECT name,price,gazou FROM mst_product WHERE code=?';
                    $stmt=$dbh->prepare($sql);
                    $data[]=$pro_code;
                    $stmt->execute($data);

                    $rec=$stmt->fetch(PDO::FETCH_ASSOC);
                    $pro_name=$rec['name'];
                    $pro_price=$rec['price'];
                    $pro_gazou_name=$rec['gazou'];

                    $dbh=null;

                    if($pro_gazou_name=='')
                    {
                        $disp_gazou='';
                    }
                    else
                    {
                        $disp_gazou='<img src="./gazou/'.$pro_gazou_name.'" alt="gazou" class="img-fluid">';
                    }

                }
                catch(Exception $e)
                {
                    echo '<p>データを取得できませんでした。</p>';
                    echo '<p>ただいま障害により大変ご迷惑をおかけしております。</p>';
                    exit();
                }

            ?>

        - var _myPhpCo = '<?php echo $pro_code; ?>';
        - var _myPhpNa = '<?php echo $pro_name; ?>';
        - var _myPhpPr = '<?php echo $pro_price; ?>';
        - var _myPhpGzDisp = '<?php echo $disp_gazou; ?>';

        p.mt-4.fw-bold.text-decoration-underline 商品情報
        form(method="post" action="pro_branch.php").bg-primary-subtle.p-4.mt-4
            input(type="hidden" name="procode" value!=_myPhpCo).form-control 
            div.mb-3
                label(for="code").form-label Product Code :
                input(type="text" name="code" value!=_myPhpCo disabled readonly).form-control
            div.mb-3
                label(for="name").form-label Product Name :
                input(type="text" name="name" value!=_myPhpNa disabled readonly).form-control
            div.mb-3
                label(for="price").form-label Product Price :
                input(type="text" name="price" value!=_myPhpPr disabled readonly).form-control
            div.mb-3
                label(for="gazou").form-label Gazou :
                div(style="width: 200px;").img !{_myPhpGzDisp}
            div.mb-3
                label(for="button").form-label 処理の選択
                br
                div(role="group").btn-group
                    button(type="submit" name="edit" value="修正").btn.btn-outline-primary edit
                    button(type="submit" name="delete" value="削除").btn.btn-outline-primary deletion
            div.mb-3
                button(type="button" value="戻る" onclick="history.back()").btn.btn-secondary Buck


